replayer/.DS_Store
replayer/node_modules
replayer//dist


# local env files
replayer/.env.local
replayer/.env.*.local

# Log files
replayer/npm-debug.log*
replayer/yarn-debug.log*
replayer/yarn-error.log*
replayer/pnpm-debug.log*

# Editor directories and files
replayer/.idea
replayer/.vscode
replayer/*.suo
replayer/*.ntvs*
replayer/*.njsproj
replayer/*.sln
replayer/*.sw?
